extends ../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Contents'


  - var updateBodyClass = bodyClasses.push('page-contents')

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper
    //
          ========================================================
                                  CONTENT
          ========================================================



    .dev_contents
      .dev_contents__testServer
        h1 i.html page -- test server CONTENTS:
        h3 {testServer} / %page%
        ol
          li: a(data-num='01' href=testServer + "") / index
          li: a(data-num='02' href=testServer + "windsystems.html") / windsystems
          li: a(data-num='03' href=testServer + "fitments.html") / fitments
          li: a(data-num='04' href=testServer + "cottages.html") / cottages
          li: a(data-num='05' href=testServer + "glassunit.html") / glassunit
          li: a(data-num='06' href=testServer + "accessories.html") / accessories
          li: a(data-num='07' href=testServer + "affair.html") / affair
          li: a(data-num='08' href=testServer + "article.html") / article
          li: a(data-num='09/18' href=testServer + "articles.html") / articles
          li: a(data-num='10/13' href=testServer + "choosingadvices.html") / choosingadvices
          li: a(data-num='11' href=testServer + "contacts.html") / contacts
          li: a(data-num='12/14' href=testServer + "doors.html") / doors
          li: a(data-num='13/12' href=testServer + "efficiency.html") / efficiency

          li: a(data-num='15' href=testServer + "feedback.html") / feedback
          li: a(data-num='16' href=testServer + "licenses.html") / licenses
          li: a(data-num='17//' href=testServer + "loan.html") / loan
          li: a(data-num='18/20' href=testServer + "terms.html") / terms
          li: a(data-num='19//' href=testServer + "video.html") / video
          li: a(data-num='20' href=testServer + "about.html") / about
          li: a(data-num='21' href=testServer + "00000.html") / 00000
          li: a(data-num='21' href=testServer + "00000.html") / 00000
          li: a(data-num='21' href=testServer + "00000.html") / 00000
          li: a(data-num='21' href=testServer + "typicalwindows.html") / typicalwindows


          li: a(data-num='21' href=testServer + "additionaloptions.html") / additionaloptions
          li: a(data-num='22' href=testServer + "calc.html") / calc
          li: a(data-num='23' href=testServer + "faq.html") / faq
          li: a(data-num='24' href=testServer + "404.html") / 404
          //- li: a(data-num='13' href=testServer + "choosingadvices.html") / choosingadvices
          //- li: a(data-num='14' href=testServer + "choosingadvices.html") / choosingadvices

          li: a(data-num='98' href=testServer + ". . .") / . . .
          li: a(data-num='99' href=testServer + "404.html") / 404

      .dev_contents__localhost
        h1 /for developers only/ -- localhost CONTENTS:
        h3 { lh8809 } / %page%
        ol
          li: a(data-num='01' href=localhost + "") / index
          li: a(data-num='02' href=localhost + "windsystems.html") / windsystems
          li: a(data-num='03' href=localhost + "fitments.html") / fitments
          li: a(data-num='04' href=localhost + "cottages.html") / cottages
          li: a(data-num='05' href=localhost + "glassunit.html") / glassunit
          li: a(data-num='06' href=localhost + "accessories.html") / accessories
          li: a(data-num='07' href=localhost + "affair.html") / affair
          li: a(data-num='08' href=localhost + "article.html") / article
          li: a(data-num='09' href=localhost + "articles.html") / articles
          li: a(data-num='10' href=localhost + "choosingadvices.html") / choosingadvices
          li: a(data-num='11' href=localhost + "contacts.html") / contacts
          li: a(data-num='12' href=localhost + "doors.html") / doors
          //- li: a(data-num='13' href=localhost + "choosingadvices.html") / choosingadvices

          li: a(data-num='98' href=localhost + ". . .") / . . .
          li: a(data-num='99' href=localhost + "404.html") / 404
