extends ../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Contents'


  - var updateBodyClass = bodyClasses.push('page-contents')

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper
    //
          ========================================================
                                  CONTENT
          ========================================================



    .dev_contents
      .dev_contents__testServer
        h1 i.html page -- test server CONTENTS:
        h3 {testServer} / %page%
        ul
          li: a(data-num='01' href=testServer + "") +1 / index
          li: a(data-num='02' href=testServer + "windsystems.html") +2 / windsystems
          li: a(data-num='03' href=testServer + "fitments.html") +3 / fitments
          li: a(data-num='04.1' href=testServer + "cottages.html") +4.1/ cottages
          li: a(data-num='05' href=testServer + "glassunit.html") +5 / glassunit
          li: a(data-num='06' href=testServer + "accessories.html") +6 / accessories
          li: a(data-num='07' href=testServer + "services.html") --7 [e] / services?// услуги
          li: a(data-num='08' href=testServer + "affair.html") +8 / affair // акции
          li: a(data-num='09' href=testServer + "about.html") --9 / about // акции
          li: a(data-num='10' href=testServer + "licenses.html") --10 / licenses
          li: a(data-num='10.1' href=testServer + "feedback.html") --10.1 / feedback
          li: a(data-num='11+' href=testServer + "contacts.html") almost+ =11 / contacts
          li: a(data-num='13/12' href=testServer + "efficiency.html") +/-12 /efficiency
          li: a(data-num='13+' href=testServer + "choosingadvices.html") +/-check__13 / choosingadvices
          li: a(data-num='14' href=testServer + "doors.html") +14 / doors

          li: a(data-num='15' href=testServer + "leadlight.html") +/check/15 / leadlight
          li: a(data-num='16' href=testServer + "typicalwindows.html") --16 / typicalwindows

          li: a(data-num='17' href=testServer + "loan.html") --17 / loan




          li: a(data-num='18' href=testServer + "articles.html") ++18 / articles
          li: a(data-num='18.1' href=testServer + "article.html") ++18.1 / article

          li: a(data-num='19' href=testServer + "video.html") --19 / video
          li: a(data-num='20+' href=testServer + "terms.html") almost+ =20 / terms

          li: a(data-num='21' href=testServer + "additionaloptions.html") --21 / additionaloptions

          li: a(data-num='21' href=testServer + "00000.html") / 00000



          li: a(data-num='22' href=testServer + "calc.html") --22 / calc
          li: a(data-num='23+' href=testServer + "faq.html") almost+ =23 / faq
          li: a(data-num='24+' href=testServer + "404.html") almost+ =24 / 404
          //- li: a(data-num='13' href=testServer + "choosingadvices.html") / choosingadvices
          //- li: a(data-num='14' href=testServer + "choosingadvices.html") / choosingadvices

          //- li: a(data-num='98' href=testServer + ". . .") / . . .
          //- li: a(data-num='99' href=testServer + "404.html") / 404

      .dev_contents__localhost
        h1 /for developers only/ -- localhost CONTENTS:
        h3 { lh8809 } / %page%
        ol
          li: a(data-num='01' href=localhost + "") / index
          li: a(data-num='02' href=localhost + "windsystems.html") / windsystems
          li: a(data-num='03' href=localhost + "fitments.html") / fitments
          li: a(data-num='04' href=localhost + "cottages.html") / cottages
          li: a(data-num='05' href=localhost + "glassunit.html") / glassunit
          li: a(data-num='06' href=localhost + "accessories.html") / accessories
          li: a(data-num='07' href=localhost + "affair.html") / affair
          li: a(data-num='08' href=localhost + "article.html") / article
          li: a(data-num='09' href=localhost + "articles.html") / articles
          li: a(data-num='10' href=localhost + "choosingadvices.html") / choosingadvices
          li: a(data-num='11' href=localhost + "contacts.html") / contacts
          li: a(data-num='12' href=localhost + "doors.html") / doors
          //- li: a(data-num='13' href=localhost + "choosingadvices.html") / choosingadvices

          li: a(data-num='98' href=localhost + ". . .") / . . .
          li: a(data-num='99' href=localhost + "404.html") / 404
